<div class="row">
    <div class="col-md-12">
        <h2>Student List</h2>
        <div class="table-responsive">
            Student List:  </h2>
            <table>
                {{#each students}}           
                <tr>
                    <td>StudentId</td>
                    <td>{{this.studId}}</td>
                </tr>
                    <td>Name</td>
                    <td>{{this.name}}</td>
                </tr>
                    <td>Program</td>
                    <td>{{this.program}}</td>
                </tr>
                    <td>GPA</td> 
                    <td>{{this.gpa}}</td>                       
                </tr> 
                {{/each}}          
            </table>
        </div>
    </div>
    {{#unless students}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong> 
    </div>
    {{/unless}}
</div>